/* src/App.css */
@import "tailwindcss";
@plugin "daisyui";


/* src/App.css */

/* Custom scrollbar (Light + Dark mode) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 10px;
}

html.dark ::-webkit-scrollbar-thumb {
  background-color: #444;
}

